*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.iml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/deploy/
.idea/
.gradle
/build/
/reports

/webpack/node_modules/
/src/main/webapp/resources/vue/
/webpack/package-lock.json